[package]
name = "elytra-ping"
description = "Easily ping and get the status of Minecraft: Java Edition servers"
version = "0.2.0"
edition = "2021"
authors = ["doinkythederp"]
rust-version = "1.64"
categories = ["network-programming", "parser-implementations"]
keywords = ["minecraft", "server-list-ping", "ping"]

[features]
default = ["parse", "connect", "simple"]
parse = ["dep:serde", "dep:serde_json"]
connect = ["dep:tokio"]
simple = ["connect", "parse", "dep:futures"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bytes = "1.2.1"
futures = { version = "0.3.24", optional = true }
mc-varint = "0.1.1"
serde = { version = "1.0.145", optional = true, features = ["serde_derive"] }
serde_json = { version = "1.0.85", optional = true }
snafu = { version = "0.7.4", features = ["backtraces-impl-backtrace-crate"] }
tokio = { version = "1.21.1", features = [
    "net",
    "io-util",
    "macros",
    "time",
], optional = true }
tracing = "0.1.36"
void = "1.0.2"

[dev-dependencies]
ctor = "0.1.26"
tokio = { version = "1.21.1", features = ["full"] }
tracing-subscriber = { version = "0.3.16", features = ["env-filter"] }
